.navigation{
  height: 145px;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  justify-content: space-evenly;
}

.nav-logo-section{
  flex:auto;
  position: relative;
  padding-top: 8px;
}

.nav-logo{
  position: absolute;;
  width: 140px;
  right: 10px;
}

.nav-btns-section{
  display: grid;
  position: relative;
  top: 25px;
  vertical-align: middle;
  /* grid-template-columns: 1fr; */
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  row-gap: 10px;
  padding: 40px 0;
}

.nav-btn{
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
}

.nav-donate-section{
  display: flex;
  position: relative;
  left: 5px;
  align-items: center;
  padding-top: 8px;

}

.nav-donate-btn{
  background-color: black;
  color:white;
  border: none;
  font-size: 20px;
  height: 45px;
  padding-left: 33px;
  padding-right: 33px;
}